---
layout: default
---

<!-- 遍历分页后的文章 -->
{% for post in paginator.posts %}
<section>
    <header>
        <p>{{ post.date | date: "%b %-d, %Y" }}&nbsp;&nbsp;&nbsp;<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></p>
        <blockquote>{{post.excerpt}}</blockquote>
    </header>
</section>
{% endfor %}

<!-- 分页链接 -->
{% if paginator.total_pages > 1 %}
<ul class="page_pagination">
  {% if paginator.previous_page %}
        <li class="prev"><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a></li>
  {% else %}
        <li class="prev">&laquo; Prev</li>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
        <li class="selected"><a href="javascript:;">{{ page }}</a></li>
    {% elsif page == 1 %}
        <li><a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a><li>
    {% else %}
        <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <li class="next"><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a></li>
  {% else %}
    <li class="next">Next &raquo;</li>
  {% endif %}
</ul>
{% endif %}
