<footer id="footer">
    <ul class="icons">
        <li><a class="github-button icon fa-github" href="https://github.com/worried-k/worried-k.github.io" data-count-href="/worried-k/worried-k.github.io/stargazers"
                data-count-api="/repos/worried-k/worried-k.github.io#stargazers_count" data-count-aria-label="# stargazers on GitHub"
                aria-label="Star worried-k/worried-k.github.io on GitHub"><span class="label">Star</span></a></li>
        <li><a href="https://twitter.com/worried_k" target="_blank" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="http://weibo.com/WorriedK" target="_blank" class="icon fa-weibo"><span class="label">weibos</span></a></li>
        <li><a href="/about/index" class="icon fa-info-circle"><span class="label">about</span></a></li>
        
    </ul>
    <ul class="copyright">
        <li>&copy; 2018</li>
        <li>worried-k 转载请注明出处</li>
    </ul>
</footer>